* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    width:100px;
    height:50px;
    text-align: center;
}

.border {
    border: 1px solid ;
}

.padding-1 {
    background-color: cyan;
    padding: 40px;
}

.padding-2 {
    background-color: burlywood;
    /* Atas-Bawah Kiri-Kanan */
    padding: 20px 50px;
}

.padding-3 {
    background-color: aquamarine;
    /* Atas Kiri-Kanan Bawah */
    padding: 10px 100px 30px;
}

.padding-4 {
    background-color: cadetblue;
    /* Atas Kanan Bawah Kiri */
    padding: 10px 20px 40px 80px;
}

/* Padding Block */

