* {
    font-family: Arial;
}

.dekor {
    width: fit-content;
    height: fit-content;
    border: 5px solid;
    padding: 20px;
}

.margin-1 {
    /* Untuk Semua Sisi */
    margin: 5px;
}


.margin-2 {
    /* Margin Kiri Kanan */
    margin: 10px 20px;
}

.margin-3 {
    /* Margin Kiri Kanan */
    margin: 10px 20px 50px;
}

.margin-4 {
    /* Margin Kiri Kanan */
    /* margin: 10px 20px 40px 100px; */
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
}


/* Geser Nilai Di Bagian Kanan Aja
Margin-Right : 20px */









